
@{
    ViewBag.Title = "DesarrolloSoftware";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid mt-5">
    <div class="row align-items-center">
        <!-- Imagen -->
        <div class="col-md-6 text-center">
            <img src="~/Content/images/software-1024x643.png" alt="Desa" class="img-fluid">
        </div>
        <!-- Texto -->
        <div class="col-md-6">
            <h4 class="text-center mb-4"> <strong>Desarrollo de Software a Medida </strong></h4>

            <p class="">
                En <strong>Guayas Digital</strong>, transformamos tus ideas en soluciones tecnológicas.
                Nos especializamos en el desarrollo de software a medida, diseñado específicamente para satisfacer las necesidades únicas de su empresa o proyecto.
            </p>

            <section class="mt-4">
                <h4><strong>¿Qué ofrecemos?</strong> </h4>
                <ul>
                    <li>Análisis detallado de requisitos para entender tus objetivos.</li>
                    <li>Diseño y desarrollo de aplicaciones personalizadas.</li>
                    <li>Soluciones escalables y fáciles de integrar con tus sistemas actuales.</li>
                    <li>Uso de metodologías ágiles para garantizar tiempos de entrega rápidos y calidad.</li>
                </ul>
            </section>

            <hr class="my-4">

            <p class="text-center">
                Si necesita una herramienta única para optimizar tus procesos o destacar en tu industria,
                <strong>¡nosotros la desarrollamos para usted!</strong>
            </p>
        </div>


        <!-- Texto -->
        <div class="col-md-5">
        
            <p class="">
                Ofrecemos servicios de desarrollo de software personalizado de clase mundial, diseñados específicamente para su negocio y listos para satisfacer sus necesidades exclusivas y hacer que sus flujos de trabajo sean más eficientes, los cuales pueden entregarse a un costo fijo o en base a tiempo y materiales.
            </p>

            <section class="mt-4">
                <h5><strong>¿Qué ofrecemos?</strong> </h5>
                <ul>
                        <li>Pruebas de software y control de calidad</li>
                        <li>Servicios en la nube</li>
                        <li>Desarrollo móvil y web</li>
                        <li>Mantenimiento y soporte</li>
                        <li>Consultoría informática</li>
                        <li>Ciencia de datos</li>
                        <li>Soluciones de Infraestructura</li>
                        <li>Internet de las cosas (IoT)</li>
                        <li>Diseño UI/UX</li>
                        <li>Aplicaciones móviles</li>

                </ul>
            </section> 
     
        </div>
        <!-- Imagen -->
        <div class="col-md-7 text-center">
            <img src="~/Content/images/multi.jpg" alt="Desa" class="img-fluid">
        </div>
    </div>

</div>

