
@{
    ViewBag.Title = "DesarrolloAppConAi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid mt-5">
    <div class="row align-items-center">
        <!-- Imagen -->
        <div class="col-md-6 text-center">
            <img src="~/Content/images/ofiAi.jpg" alt="Desa" class="img-fluid">
        </div>
        <!-- Texto -->
        <div class="col-md-6">
            <h4 class="text-center mb-4"> <strong>Desarrollo de Software con Inteligencia Artificial Integrada</strong></h4>

            <p class="">
                En <strong>Guayas Digital</strong>, impulsamos la innovación mediante el desarrollo de aplicaciones inteligentes que integran <strong>Inteligencia Artificial (IA)</strong> para optimizar procesos, mejorar la experiencia del usuario y llevar tus proyectos al siguiente nivel
</p>

            <section class="mt-4">
                <h4><strong>¿Qué ofrecemos?</strong> </h4>
                <ul>
                    <li><b>Aplicaciones Inteligentes:</b> Soluciones que aprenden y se adaptan a las necesidades de tus usuarios, basadas en algoritmos de aprendizaje automático.</li>
                    <li><strong>Chatbots Personalizados:</strong> Asistentes virtuales con capacidades avanzadas de comunicación, disponibles 24/7 para atender consultas, realizar reservas o gestionar servicios.</li>
                    <li><strong>Análisis Predictivo:</strong> Identificación de patrones para tomar decisiones estratégicas basadas en datos en tiempo real.</li>
                    <li><strong>Automatización Inteligente:</strong> Implementación de IA para agilizar tareas repetitivas y optimizar recursos.</li>
                </ul>
            </section>
             
        </div>

    </div>

</div>