
@{
    ViewBag.Title = "DesarrolloApps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="container-fluid">
        <div class="row align-items-center">

            <!-- Texto -->
            <div class="col-md-6">
                <h4 class="text-center mb-4"> <strong>Desarrollo de Aplicaciones Moviles iOs / Android</strong></h4>

                <p class="">
                    Desarrollamos su APP móvil a medida de tu idea de negocio, haga que tus consumidores interactuen con tu marca o compren tus productos o servicios desde la comodidad de sus smartphones, Nuestros desarrolladores trabajan sobre para las principales plataformas tecnológicas: sistemas IOS de equipos apple Android y aplicaciones híbridas.

              
                </p>
            </div>

            <!-- Imagen -->
            <div class="col-md-6 text-center">
                <img src="~/Content/images/apps01.png" alt="Desa" class="img-fluid">
            </div>
        </div>

    </div>

 </div>
