@{
    ViewBag.Title = "Inicio";
}

<main>
    <div class="container mt-5">
        <div class="row align-items-center">
            <!-- Columna 1: Imagen -->
            <div class="col-md-6 text-center">
                <img src="~/Content/images/fondo11.png" alt="Tecnologías" class="img-fluid" style="max-width: 100%;">
            </div>

            <!-- Columna 2: Texto institucional -->
            <div class="col-md-6">
                @*<h3 class="text-danger fw-bold">GUAYAS DIGITAL</h3>*@
                <p>
                    Somos una empresa de consultoría y servicios en Tecnologías de la Información con el objetivo de ofrecer soluciones digitales personalizadas para cada negocio. Buscamos ser el socio tecnológico de referencia para empresas que requieren productos y servicios de alta calidad, generando valor de manera sostenible y responsable.
                </p>
                <p>
                    Contamos con un equipo multidisciplinario de profesionales apasionados, especializados en asegurar la digitalización eficiente de la cadena de valor de nuestros clientes. Nuestro enfoque está basado en la gestión responsable de proyectos, siguiendo metodologías y estándares de calidad reconocidos.
                </p>
                <p>
                    En GUAYAS DIGITAL, no solo desarrollamos soluciones, sino que acompañamos a nuestros clientes en cada etapa, ofreciendo sistemas escalables y adaptables a sus necesidades, con el compromiso de minimizar el impacto económico y estructural en sus organizaciones.
                </p>
            </div>
        </div>
    </div>
</main>
