
@{
    ViewBag.Title = "OutSourcing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-5">
    <div class="container-fluid">
        <div class="row align-items-center">

            <!-- Texto -->
            <div class="col-md-6">
                <h4 class="text-center mb-4"> <strong>OutSoutcing</strong></h4>

                <p class="">
                    El OutSourcing es la práctica en la que una empresa contrata a otra empresa o a un tercero para que realice, gestione sus operaciones o preste servicios a la empresa. Los servicios de subcontratación de TI más habituales pueden incluir desde el diseño web hasta el diseño completo de sistemas de infraestructura de TI. En el mercado actual, las empresas suelen trabajar con empresas de subcontratación de TI para reducir los costes laborales, aumentar el rendimiento empresarial y obtener acceso a personal experto de primera clase.

                </p>
                <p>
                    Si desea minimizar la posibilidad de interrupciones en el negocio, mantener a su personal en línea y tener inspiración lista en caso de que las cosas salgan mal inesperadamente, una empresa de gestión de TI subcontratada puede ser justo lo que su empresa necesita.
                </p>
            </div>

            <!-- Imagen -->
            <div class="col-md-6 text-center">
                <img src="~/Content/images/apps01.png" alt="Desa" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <section class="mt-4">
                    <h5><strong>¿Qué ofrecemos?</strong> </h5>
                    <ul>
                        <li>Pruebas de software y control de calidad</li>
                        <li>Servicios en la nube</li>
                        <li>Desarrollo móvil y web</li>
                        <li>Mantenimiento y soporte</li>
                        <li>Consultoría informática</li>
                        <li>Ciencia de datos</li>
                        <li>Soluciones de Infraestructura</li>
                        <li>Internet de las cosas (IoT)</li>
                        <li>Diseño UI/UX</li>
                        <li>Aplicaciones móviles</li>

                    </ul>
                </section>
            </div>
        </div>

    </div>

</div>
